<!DOCTYPE html>
<html lang="en">
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= @options[:description] %>">
    <meta name="author" content="<%= @options[:author] %>">
    <meta name="og:url" content="<%= @options[:url] %>">
    <meta name="og:image" content="<%= @display_image %>">
    <meta name="og:image:alt" content="<%= @display_image_alt %>">
    <meta name="og:title" content="<%= @options[:title] %>">
    <meta name="og:description" content="<%= @options[:description] %>">
    <meta name="twitter:site" content="@<%= @options[:twitter_handle] %>">
    <meta name="twitter:creator" content="@<%= @options[:twitter_handle] %>">
    <meta name="twitter:card" content="summary_large_image">
    <title><%= @options[:title] %></title>

    <link href="/css/main.css" rel="stylesheet">
    <link rel="icon" href="/favicon/favicon.ico" sizes="any"><!-- 32×32 -->
    <link rel="icon" href="/favicon/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png"><!-- 180×180 -->
    <link rel="manifest" href="/favicon/manifest.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body class="image-detail">

    <h1><%= @options[:title]%><span class="small"> | <%= @options[:total_number_of_pictures] %> Bilder</span></h1>
    <figure>
  			<img src="<%= @image_name %>" alt="<%=h @caption %>" title="<%=h @caption %>" height="<%= @options[:img_height] %>" width="<%= @options[:img_width] %>">
  			<figcaption class="caption" title="<%=h @tech_details %>"><%=h @long_caption %></figcaption>
		</figure>
		
	  <% if @options[:total_number_of_pictures] > 1 %>
    <ul class="pagination">
      <% if first_image? %>
      <li class="prev disabled"></li>
      <% else %>
      <li class="prev"><a href="<%=@prev_img%>">&larr; Voriges Bild</a></li>
      <% end %>
      <li><a href="<%= @page_html_name %>">Galerie-Übersicht</a></li>
      <% if last_image? %>
      <li class="next disabled"></li>
      <% else %>
      <li class="next"><a href="<%=@next_img%>">Nächstes Bild &rarr;</a></li>
      <% end %>
    </ul>
    <% end %>
  </body> 
</html>
