<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>pictr | showing galleries since 1875</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="generator" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="css/main.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">&nbsp;</div>
      </div>
    </div>

    <div class="container">
      <h1 class="below">Kanada 2011 <small> | 210 Bilder</small></h1>
	  <p><small><a href="<%= @page_html_name %>">&larr; Zurück zur Übersicht aller Bilder der Galerie</a></small><p>
	  <hr />
	  <div class="row">
		<div class="span16">
		<figure>
  			<img src="<%= @image_link %>" alt="<%= @caption %>" title="<%= @caption %>">
  			<figcaption class="caption" title="<%= @tech_details %>"><%= @long_caption %></figcaption>
		</figure>
		</div>
      </div>
	  <div class="pagination">
    	<ul>
    	  <li class="prev disabled"><a href="#">&larr; Voriges Bild</a></li>
    	  <li><a href="<%= @page_html_name %>">Galerie-Übersicht</a></li>
    	  <li class="next"><a href="#">Nächstes Bild &rarr;</a></li>
    	</ul>
      </div>	
	  	  

      <footer>
        <p><span class="muted"> created with <a href="#">pictr</a> on 23. Aug 2011</span> | &copy; all photos Joachim Praetorius</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
