<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="An image from the <%= @options[:title] %> gallery">
  <meta name="author" content="<%= @options[:author] %>">
  <link rel="shortcut icon" href="img/favicon.ico">

  <title><%= @options[:title] %> | single image</title>

  <!-- OpenSans Font -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <!-- Bootstrap core CSS -->
  <link href="css/main.css" rel="stylesheet">

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand">
            <%= @options[:title] %> | <span class="text-muted">15.09.2013 – 27.09.2013</span>
          </div>
        </div>
        <span class="navbar-text pull-right">
          | <a href="<%= @page_html_name %>" class="navbar-link" title="Übersichtsseite anzeigen"><i class="icon-chevron-up icon-large"> </i></a>
          <a href="index.html" class="navbar-link" title="Startseite anzeigen"><i class="icon-home icon-large"> </i></a>
         </span> 
      </div>
    </div>

    <!-- Main jumbotron -->
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <img class="img-responsive thumbnail" src="<%= 'img/' + @image_name %>" alt="<%=h @caption %>" title="<%=h @caption %>" />
          </div>
        </div>
      </div>
    </div>

    <!-- Footer with information -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-md-offset-1">
            <p><%=h @long_caption %></p>
          </div>
          <div class="col-md-2">
            <p class="pull-right">&copy; <%= @options[:author] %></p>
          </div>
        </div>
      </div>
    </footer>

    <!-- pager -->
    <% if first_image? %>
    <div class="pager previous"> </div>
    <% else %>
    <div class="pager previous"><a href="<%=@prev_img%>">&laquo;</a></div>
    <% end %>
    <% if last_image? %>
    <div class="pager next"> </div>
    <% else %>
    <div class="pager next"><a href="<%=@next_img%>">&raquo;</a></div>
    <% end %>
  </body>
</html>