<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>pictr | showing galleries since 1875</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="css/main.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">&nbsp;</div>
      </div>
    </div>

    <div class="container">
      <h1 class="below">Kanada 2011 <small> | 210 Bilder</small></h1>
	  <p><small><a href="#">&larr; Zurück zur Übersicht aller Galerien</a></small><p>
	  <hr />
	  <!-- 4 or 5 rows -->
		<% @images.each_slice(4) do |images|%>
	  <div class="row">
			<% images.each do |image| %>
				<div class="span4"><img src="<%= image.thumbnail_name%>" alt="<%= image.caption%>" width="<%= @options[:tn_width]%>" height="<%= @options[:tn_height]%>" title="<%= image.caption%>" /></div>
			<% end %>
    </div>
		<% end %>
	  <div class="pagination">
    	<ul>
    	  <li class="prev <% first_page?() ? "disabled" : "" %>"><a href="<%= "%04d"%prev_page()+'.html'%>">&larr; Zurück</a></li>
				<% for i in 0..@total_number_of_pages %>
					<% if i == @page_number %>
      			<li class="active"><a href="#"><%= i%></a></li>
					<% else %>
    	  		<li><a href="<%= "%04d"%i+'.html'%>"><%= i%></a></li>
					<% end %>
				<% end %>
    	  <li class="next <% last_page?() ? "disabled" : "" %>"><a href="<%= "%04d"%next_page+'.html'%>">Vor &rarr;</a></li>
    	</ul>
      </div>	
	  	  

      <footer>
        <p><span class="muted"> created with <a href="#">pictr</a> on 23. Aug 2011</span> | &copy; all photos Joachim Praetorius</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
