<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Images from the <%= @options[:title] %> gallery">
  <meta name="author" content="<%= @options[:author] %>">
  <link rel="shortcut icon" href="img/favicon.ico">

  <title><%= @options[:title] %> | Page <%= @page_num %> of <%= @total_number_of_pages %></title>

  <!-- OpenSans Font -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <!-- Bootstrap core CSS -->
  <link href="css/main.css" rel="stylesheet">

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand">
            <%= @options[:title] %> | <span class="text-muted">15.09.2013 – 27.09.2013</span>
          </div>
        </div>
         <span class="navbar-text pull-right">
            Page <%= @page_num %> of <%= @total_number_of_pages %>
            | <a href="index.html" class="navbar-link" title="Startseite anzeigen"><i class="icon-home icon-large"> </i></a>
          </span> 
      </div>
    </div>

    <!-- main rows of pictures -->
    <div class="container images">
        <% @images.each_slice(3) do |images|%>
        <div class="row">
          <% images.each do |image| %>
          <div class="col-md-4">
            <a href="<%= image.image_html_name%>">
              <img src="<%= 'img/tn/' + image.thumbnail_name%>" class="img-responsive thumbnail" alt="<%= h image.caption%>" title="<%= h image.caption%>"/>
            </a>
          </div>
          <% end %>
        </div>
        <% end %>
    </div>
      
      
    <!-- pager -->
    <% if first_page? %>
    <div class="pager previous"> </div>
    <% else %>
    <div class="pager previous"><a href="<%= "page_%04d"%prev_page()+'.html'%>">&laquo;</a></div>
    <% end %>
    <% if last_page? %>
    <div class="pager next"> </div>
    <% else %>
    <div class="pager next"><a href="<%= "page_%04d"%next_page()+'.html'%>">&raquo;</a></div>
    <% end %>
      
    
   <!-- Footer with information -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-md-offset-1">
          </div>
          <div class="col-md-2">
            <p class="pull-right">&copy; <%=@options[:author]%></p>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>