<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= @options[:description] %>">
  <meta name="author" content="<%= @options[:author] %>">
  <meta name="generator" content="https://github.com/jpraetorius/pictr/">
  <link rel="shortcut icon" href="img/favicon.ico">

  <title><%= @options[:title] %></title>

  <!-- OpenSans Font -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <!-- Bootstrap core CSS -->
  <link href="../static/css/main.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
  <![endif]-->
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand"></a>
        </div>
      </div>
    </div>

    <!-- Main jumbotron -->
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1><%= @options[:title] %></h1>
            <h2 class="text-muted"><%= @options[:start_date] %> – <%= @options[:end_date] %></h2>
            <% if (!@options[:description].nil?) %>
            <p class="lead"><%= @options[:description] %></p>
            <% end %>
            <p class="text-muted"><%= @options[:total_number_of_pictures] %> Bilder</p>
            <a href="page0001.html">Bilder ansehen &raquo;</a>
          </div>
          <div class="col-md-5">
            <a href="page0001.html">
              <img class="img-responsive thumbnail" src="img/start.jpg" alt="<%=h @caption_startimage %>" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- more teaser pictures -->
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <a href="page0001.html">
            <img src="img/tn/start_1.jpg" class="img-responsive thumbnail" alt="<%=h @caption_tn_1 %>" />
          </a>
        </div>
        <div class="col-md-2">
          <a href="page0001.html">
            <img src="img/tn/start_1.jpg" class="img-responsive thumbnail" alt="<%=h @caption_tn_2 %>" />
          </a>
        </div>
        <div class="col-md-2">
          <a href="page0001.html">
            <img src="img/tn/start_1.jpg" class="img-responsive thumbnail" alt="<%=h @caption_tn_3 %>" />
          </a>
        </div>
        <div class="col-md-2">
          <a href="page0001.html">
            <img src="img/tn/start_1.jpg" class="img-responsive thumbnail" alt="<%=h @caption_tn_4 %>" />
          </a>
        </div>
        <div class="col-md-2">
          <a href="page0001.html">
            <img src="img/tn/start_1.jpg" class="img-responsive thumbnail" alt="<%=h @caption_tn_5 %>" />
          </a>
        </div>
        <div class="col-md-2">
          <a href="page0001.html">
            <img src="img/tn/start_1.jpg" class="img-responsive thumbnail" alt="<%=h @caption_tn_6 %>" />
          </a>
        </div>
      </div>
    </div>

    <!-- Footer with information -->
    <footer>
      <div class="container">
        <div class="col-md-11">
          <p class="pull-right">&copy; <%= options[:author] %></p>
        </div>
      </div>
    </footer>

  </body>
</html>